
@if (@Model.Erro != null) {
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-ban"></i> Erro!</h5>
        @Model.Erro
    </div>
}

<form action="/admin/autores/editar" method="post">
    <input type="hidden" name="Id" value="@Model.idAutor">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Criar Autor</h3>
        </div>
        <div class="card-body">
            <div class="form-group mb-3">
                <label for="nome">Nome</label>
                <input type="text" name="Nome" id="nome" value="@Model.nomeAutor" class="form-control">
            </div>
        </div>
        <div class="card-footer">
            <a href="/admin/autores" class="btn btn-success">Voltar</a>
            <button class="btn btn-success float-right" type="submit">Editar</button>
        </div>
    </div>
</form>